/* UC 1 ::: Employee Payroll App with logo + Homepage Logo Design*/ 
body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img{
    border: solid 0px #dae2e9;
}

.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll{
    color: #0e85f4;
}

*{
    box-sizing: border-box;
}

/* UC 2 ::: Employee Payroll App with With Header And Name */
.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #cfcccc80;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #0c3459d5;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #080909;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(52, 190, 217);
    border-radius: 4px;
    resize: vertical;
}

error-output{                       /*Day 44 - UC2 */
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
    color: red;
}

/* UC 3 ::: Ability to specify the profile pic in the form */
.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content>label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

/* UC 5 ::: Ability to specify the start date with Day, Month and Year as select input items */
select {
    padding: 12px;
    border: 1px solid rgb(52, 190, 217);
    border-radius: 4px;
    margin-left: 60px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #090909;
    background-color: transparent;
}

/* UC 6 ::: Ability to add the Notes and Button */
.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button{
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #0d0d0e;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid#539bee;
    background-color: rgb(163, 208, 237);
    cursor: pointer;
    border-radius: 5px;
}

.submitButton {
    border: 1px solid rgb(52, 190, 217);
    margin-right: 30px;
}

.cancelButton {
    margin-left: 140px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(52, 190, 217);
}

/* UC 6 - Extn : Adding Media Queries*/

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form{
        margin-top: 10px;
    }

    .row {
        flex-direction: column;
    }

    .uploadButton {
        justify-content: flex-start;
    }

    .profile-radio-content{
        flex-flow: wrap;
    }

    .submit-reset{
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .submitButton{
        margin: 0;
    }

    .buttonParent{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

/* Day45 : UC 2 ::: Employee Payroll form with Header and Name*/ 
/*for HomePage*/ 

.add-button{
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #82a70c 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.main-content{
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.emp-detail-text{
    font: normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.emp-count{
    background-color: #82a70c;
    color: #f7f7f7;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}

